<html>
<head>
    <title>ideaFeast</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <img src="/sinatra-starter/public/img/idea-feast.png" alt="ideaFeast" width="250px"/>
                <hr/>
                <h1 class="text-white">ideaFeast</h1>
                <h2>A simple web application written in Ruby, demonstrating request-handling and database interactions.</h2>
                <h3 class="text-white">by Colin J Lacy</h3>
                <hr>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container">
        <section class="row">
            <div class="col-md-8 col-md-push-2">

                <h2>Add a new Idea</h2>

                <form class="form" action="#" method="post">
                    <div class="form-group">
                        <label class="control-label" for="idea_title">Idea Title</label>
                        <input type="text" name="idea_title" id="idea_title" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="idea_body">Tell Us More!</label>
                        <textarea type="text" name="idea_body" id="idea_body" class="form-control" cols="10"></textarea>
                    </div>
                    <button class="btn btn-default" type="submit">Submit!</button>
                </form>

            </div>
        </section>
        <section class="row">
            <div class="col-md-8 col-md-push-2">

                <hr/>
                <h3 class="text-muted">This Idea</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores assumenda deleniti impedit magnam magni mollitia, non quae quas quis quod recusandae reiciendis reprehenderit sequi, suscipit temporibus ullam veritatis voluptatem?</p>
                <p class="text-muted"><strong>5 Likes</strong></p>
                <form class="form" action="/like/1" method="post">
                    <button type="submit" class="btn btn-sm btn-success">Like it!</button>
                </form>

                <hr/>
                <h3 class="text-muted">That Idea</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores assumenda deleniti impedit magnam magni mollitia, non quae quas quis quod recusandae reiciendis reprehenderit sequi, suscipit temporibus ullam veritatis voluptatem?</p>
                <p class="text-muted"><strong>0 Likes</strong></p>
                <form class="form" action="/like/2" method="post">
                    <button type="submit" class="btn btn-sm btn-success">Like it!</button>
                </form>

            </div>
        </section>
    </div>
</main>
</body>
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</html>
