<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Dynamic Template</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
  <div class="row">
	<div class="jumbotron">
	  <h1 class="text-info text-center">
		This is the Dynamic Page
	  </h1>
	</div>
	<hr/>
	<h2 class="text-center">And your dynamic content is:</h2>
	<h3 class="text-center text-info"><%= @variable %></h3>
  </div>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>