<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Static Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1 class="text-info text-center">
                This is the Static Page
            </h1>
            <hr/>
            <h2 class="text-center">Feel the Power!</h2>
        </div>
        <hr/>
        <p class="text-center text-muted">
            Oh...I can feel it...
        </p>
    </div>
</div>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>